/*
|--------------------------------------------------------------------------
| Mixins
|--------------------------------------------------------------------------
|
| Mixins are loaded second, as many other files will depend upon them,
| but Mixins may also depend upon Variables. All Mixins are defined
| in this section, and used throughout the remainder of the code.
|
*/
@mixin border-radius($radius) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	-ms-border-radius: $radius;
	border-radius: $radius;
}

@mixin background-clip($str) {
	-webkit-background-clip: $str;
	-moz-background-clip: $str;
	background-clip: $str;
}