// Font Weights
.--bold
{
	font-weight: bold;
}

.--thin
{
	font-weight: thin;
}

// Font Styles
.--italic
{
	font-style: italic;
}

// Font Decoration
.--underlined
{
	font-decoration: underline;
}

.--without-decoration
{
	font-decoration: none;
}

// Font Sizes
.--large
{
	font-size: 1.5em;
}

.--small
{
	font-size: 0.5em;
}

.uppercase
{
	text-transform: uppercase !important;
}

.ellipsis
{
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
