a:link,
a:visited,
a:active
{
	font-family: "Open Sans", sans-serif;
	color: #9cb212;
	text-decoration: none;

	&.blacklink:link,
	&.blacklink:visited,
	&.blacklink:active
	{
		color: #1a1a1a;
	}
}

a:hover,
a.blacklink:hover
{
	color: #9cb212;
	text-decoration: underline;
}
