a,
a:link,
a:visited,
a:active
{
	font-family: $blr-font-family-text;
	font-size: $font-size-14px;
	color: $blr-col-complementary;
	text-decoration: none;

	&.blacklink:link,
	&.blacklink:visited,
	&.blacklink:active
	{
		color: $blr-text-color;
	}

	&:hover,
	&.blacklink:hover
	{
		color: $blr-col-complementary;
		text-decoration: underline;
	}
}

