body
{
	font-family: $blr-font-family-text;
	font-size: 100%; /* 16px on nearly all browsers. */
	line-height: $body-line-height;
	color: $blr-text-color;
	background-color: $blr-col-bg-offwhite;
	margin: 0;
	padding: 0;
}

