$checkbox-image-square: 12px;

input,
textarea,
select,
.selectContainer,
.selectContainer select
{
	font-family: $blr-font-family-text;
	border: $px1 solid $blr-col-bg-gray;
	background: linear-gradient($blr-col-bg-gray-light, $white) $blr-col-bg-gray-light;
	color: $blr-text-color;
	border-radius: 0;
}

input[type='checkbox']
{
	/* For old browsers.
	 * The checkbox will be a little offset to the left but I don't know how to fix it.
	 */
	margin-right: 0.5em;
	cursor: pointer;

	label
	{
		margin: 0;
		padding: 0 0 0 1em;

		// Bootstrap override.
		&.checkbox,
		&.checkbox-inline
		{
			margin: 0;
			padding: 0 0 0 1em;
		}
	}
}

div:not(#foo)
{
	// For new browsers.

	& > input[type='checkbox']
	{
		// Move the actual input off the screen.
		position: absolute;
		left: -9999px;
		opacity: 0;
		width: 0;
		height: 0;

		& + label
		{
			// Give the label the checkbox image.
			line-height: $checkbox-image-square;
			background: url('/img/checkbox.png') 0 0 no-repeat;
			height: $checkbox-image-square;
			margin: 0;
			padding: 0 0 0 1.33em;
			cursor: pointer;
		}

		&:checked + label
		{
			background-position: 0 $checkbox-image-square * -1;
		}
	}
}

input[type="file"]
{
	border: 0;
	background: none;
}

textarea
{
	resize: vertical;
}

label
{
	font-family: $blr-font-family-label;
	font-weight: normal;
	line-height: 1.05em;
}
