hr
{
	border-top: $px1 solid $blr-col-bg-gray;
	border-bottom: $px1 solid $blr-col-bg-offwhite;
	border-left-style: none;
	height: 0;
	background: $blr-col-bg-gray;
	margin-top: $standard-margin;
	margin-bottom: $standard-margin;

	/* HR for the navigation bar. */
	&.separator-nav
	{
		margin-bottom: $standard-margin * 2;
	}

	/* HR for the footer. */
	&.separator-footer
	{
		margin-top: $standard-margin * 2;
	}
}
