h1,
.title
{
	font-family: $blr-font-family-title;
	font-weight: bold;
	font-size: $font-size-26px;
	text-align: left;
	color: $blr-col-primary;
	margin: 0;
}

h2,
.title2
{
	@extend h1;
	font-size: $font-size-18px;
}

p
{
	font-family: $blr-font-family-text;
	font-size: $font-size-14px;
	text-align: justify;
}
