$radius: 0.5em;

.addon-state
{
	text-transform: uppercase;
	color: $white;
	font-weight: bold;
	padding: $radius 0 $radius 0;
	border-radius: $radius;
	/* Prevent color leaking. */
	background-clip: padding-box;

	&.state-public
	{
		background-color: $blr-col-utility-green;

		&:after
		{
			content: 'Public';
		}
	}

	&.state-hidden
	{
		background-color: $blr-col-bg-gray;

		&:after
		{
			content: 'Hidden';
		}
	}

	&.state-private
	{
		background-color: $blr-col-tertiary;

		&:after
		{
			content: 'Private';
		}
	}
}
