$category-icon-width: 122px;
$category-name-font-size: 1.2em;

.category
{
	&.teaser
	{
		min-width: $category-icon-width !important;
		min-height: $category-icon-width !important;

		a
		{
			position: relative;
			display: inline-block;
			height: $category-icon-width;
			width: $category-icon-width;
			background-position: 0 0;
			margin: $category-name-font-size 0 $category-name-font-size 0;

			&:hover
			{
				background-position: 0 -$category-icon-width;
				color: $blr-col-complementary;
				text-decoration: underline;
			}

			&:active
			{
				background-position: 0 $category-icon-width * -2;
			}

			&:link,
			&:visited,
			&:active
			{
				font-family: $blr-font-family-title;
				color: $blr-text-color;
				text-decoration: none;
			}

			.category-name
			{
				font-family: $blr-font-family-title;
				font-size: $category-name-font-size;
				position: absolute;
				text-align: center;
				width: 100%;
				bottom: -$category-name-font-size;
				white-space: pre;
			}
		}
	}
}
