/* Generic key-value pair key or label. */
.blr-label
{
	font-family: $blr-font-family-title;
	font-size: $font-size-14px;
	font-weight: bold;
	margin-bottom: $standard-margin;
}

/* Generic key-value pair value. */
.blr-value
{
	font-family: $blr-font-family-text;
	font-size: $font-size-14px;
	margin: 0;
}

.info-key
{
	font-size: $font-size-14px;
}

.info-value
{
	font-weight: bold;
	font-size: $font-size-16px;
}

.blr-fieldset
{
	legend
	{
		@extend h1;

		text-align: left;
		margin-bottom: $standard-margin-half;
		border-bottom: 0;
		/*
		 * Replicates the Boostrap row element.
		 * Legend should be on its own row.
		 * Can't use a row div as the element must be a direct child of fieldset.
		 */
		margin-right: $bootstrap-row-margin;
		margin-left: $bootstrap-row-margin;
	}

	.form-group:last-of-type
	{
		/* Margin is handled by footer HR. */
		margin-bottom: 0;
	}
}

.control-label-blr
{
	font-family: $blr-font-family-label;
}

.btn-blr-default
{
	color: $blr-col-bg-offwhite;
	background-color: $blr-col-primary;
	box-shadow: 0 $px2 $px3 0 $rgba-shadow;

	&:hover,
	&:focus,
	&.focus
	{
		color: $blr-col-bg-offwhite;
		background: linear-gradient($blr-col-primary-middle, $blr-col-primary) $blr-col-primary-middle;
		box-shadow: 0 $px3 $px5 0 $rgba-shadow;
		/* Bootstrap override */
		border: 0 !important;
		outline: 0 !important;
	}

	&:active:focus,
	&:active.focus,
	&.active:focus,
	&.active.focus
	{
		color: $blr-col-bg-offwhite;
		background: linear-gradient($blr-col-primary-dark, $blr-col-primary) $blr-col-primary-dark;
		box-shadow: 0 $px1 $px2 0 $rgba-shadow;
	}
}

.btn-blr-red
{
	color: $blr-col-bg-offwhite;
	background-color: $blr-col-utility-red;
	box-shadow: 0 $px2 $px3 0 $rgba-shadow;

	&:hover,
	&:focus,
	&.focus
	{
		color: $blr-col-bg-offwhite;
		background: linear-gradient($blr-col-utility-red-middle, $blr-col-utility-red) $blr-col-utility-red-middle;
		box-shadow: 0 $px3 $px5 0 $rgba-shadow;
		/* Bootstrap override */
		border: 0 !important;
		outline: 0 !important;
	}

	&:active:focus,
	&:active.focus,
	&.active:focus,
	&.active.focus
	{
		color: $blr-col-bg-offwhite;
		background: linear-gradient($blr-col-utility-red-dark, $blr-col-utility-red) $blr-col-utility-red-dark;
		box-shadow: 0 $px1 $px2 0 $rgba-shadow;
	}
}

.btn-blr-close
{
	font-weight: bold;
	color: $blr-col-primary;
	text-transform: uppercase;
	text-decoration: none;
	background: none transparent;
	box-shadow: none;

	&:hover,
	&:focus,
	&.focus
	{
		color: $blr-col-primary-light !important;
		/* Bootstrap override */
		border: 0 !important;
		outline: 0 !important;
	}

	&:active:focus,
	&:active.focus,
	&.active:focus,
	&.active.focus
	{
		background: none transparent;
		box-shadow: none;
	}
}

.selectContainer
{
	overflow: hidden;

	select
	{
		width: 97%;
		border: 0;
		background: transparent;
		padding: $px1;
		-webkit-appearance: none;
		-moz-appearance: none;
		background: url('/img/dropdown_arrow.png') no-repeat right;
	}
}

/*
 * Bootstrap overrides.
 */

.blr-form-control
{
	@extend input;
	/* Bootstrap overrides so the sizes are relative. */
	font-size: $font-size-14px;
	height: auto;

	&:focus
	{
		border-color: $blr-col-primary;
		outline: 0;
		box-shadow: inset 0 $px1 $px1 rgba(0, 0, 0, .075), 0 0 $px8 $blr-col-primary-middle-rgba-glow;
	}

	/* These need to be done individually for some reason. */
	&::-webkit-input-placeholder
	{
		font-family: $blr-font-family-label;
	}

	/* Firefox 18- */
	&:-moz-placeholder
	{
		font-family: $blr-font-family-label;
	}

	/* Firefox 19+ */
	&::-moz-placeholder
	{
		font-family: $blr-font-family-label;
	}

	&:-ms-input-placeholder
	{
		font-family: $blr-font-family-label;
	}
}

.blr-btn
{
	font-family: $blr-font-family-title;
	color: $blr-col-bg-offwhite !important;
	border-radius: 0;
	padding: 0.75em 1.5em;
	border: 0;

	/* Bootstrap override. */
	font-size: $font-size-14px;
}
