$bootstrap-row-margin: -15px;

.extend-xs-double
{
	margin-left: $bootstrap-row-margin*2;
	margin-right: $bootstrap-row-margin*2;
}

.extend-xs-normal
{
	margin-left: $bootstrap-row-margin;
	margin-right: $bootstrap-row-margin;
}

@media (min-width: $screen-sm-min) {
	.extend-sm-double
	{
		margin-left: $bootstrap-row-margin*2;
		margin-right: $bootstrap-row-margin*2;
	}

	.extend-sm-normal
	{
		margin-left: $bootstrap-row-margin;
		margin-right: $bootstrap-row-margin;
	}
}

@media (min-width: $screen-md-min) {
	.extend-md-double
	{
		margin-left: $bootstrap-row-margin*2;
		margin-right: $bootstrap-row-margin*2;
	}

	.extend-md-normal
	{
		margin-left: $bootstrap-row-margin;
		margin-right: $bootstrap-row-margin;
	}
}

@media (min-width: $screen-lg-min) {
	.extend-lg-double
	{
		margin-left: $bootstrap-row-margin*2;
		margin-right: $bootstrap-row-margin*2;
	}

	.extend-lg-normal
	{
		margin-left: $bootstrap-row-margin;
		margin-right: $bootstrap-row-margin;
	}
}
