.subtitle
{
	font-family: $blr-font-family-label;
	font-weight: bold;
}

.summary
{
	font-family: $blr-font-family-label;
	font-style: italic;
}

.filesize
{
	font-family: $blr-font-family-title;
	font-size: $font-size-14px;
}

.inforow
{
	font-family: $blr-font-family-title;
	text-align: center;
	margin: 0;
}

.description
{
	font-family: $blr-font-family-text;
	font-size: $font-size-14px;
	text-align: justify;
}

.footnote
{
	font-family: $blr-font-family-text;
	font-size: $font-size-12px;
	font-style: italic;
}
