/*
|--------------------------------------------------------------------------
| Table of Contents
|--------------------------------------------------------------------------
|
| For both functionality and tidiness, these files are to be loaded in a
| certain order. In the event of clashes, files that were loaded at a
| later time will override those that were loaded before them.
|
*/
/*
|--------------------------------------------------------------------------
| Variables
|--------------------------------------------------------------------------
|
| Variables are loaded first, as many other files will depend upon them.
| All Variables are defined in this section, and used throughout the
| remainder of the code. This is where most of the magic happens.
|
*/
/*
|--------------------------------------------------------------------------
| Screen
|--------------------------------------------------------------------------
|
| For media queries.
|
*/
/*
|--------------------------------------------------------------------------
| Mixins
|--------------------------------------------------------------------------
|
| Mixins are loaded second, as many other files will depend upon them,
| but Mixins may also depend upon Variables. All Mixins are defined
| in this section, and used throughout the remainder of the code.
|
*/
/*
|--------------------------------------------------------------------------
| Mixins
|--------------------------------------------------------------------------
|
| Mixins are loaded second, as many other files will depend upon them,
| but Mixins may also depend upon Variables. All Mixins are defined
| in this section, and used throughout the remainder of the code.
|
*/
/*
|--------------------------------------------------------------------------
| Elements
|--------------------------------------------------------------------------
|
| Elements target the HTML Tags themselves, regardless of class. These
| styles are used to give the entire site a certain look-and-feel.
| States and pseudo-classes for elements are also handled here.
|
*/
/*
|--------------------------------------------------------------------------
| Anchors (Hyperlinks)
|--------------------------------------------------------------------------
|
| The Anchor Tag (<a href="...">...</a>).
|
*/
a:link,
a:visited,
a:active {
  font-family: "Open Sans";
  font-size: 12px;
  color: #000000;
  text-decoration: none; }

a:hover {
  color: #9cb212;
  text-decoration: underline; }

/*
|--------------------------------------------------------------------------
| Body
|--------------------------------------------------------------------------
|
| The Body Tag (<body>...</body>).
|
*/
body {
  background-color: #f0f0f0;
  color: #1a1a1a; }

/*
|--------------------------------------------------------------------------
| Horizontal Rules
|--------------------------------------------------------------------------
|
| The Horizontal Rule Tag (<hr>).
|

hr {
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #f2f2f2;
  border-left-style: none;
  height: 0px;
  background: #d9d9d9;
  margin-top: 10px;
  margin-bottom: 21px; }
*/
/*
|--------------------------------------------------------------------------
| Partials
|--------------------------------------------------------------------------
|
| Partials are custom-tailored CSS classes that are applied to a single
| element on a page to achieve a specific functionality. All Partials
| are meant to appear once-per-page, rather than multiple times.
|
*/
/*
|--------------------------------------------------------------------------
| Footer
|--------------------------------------------------------------------------
|
| The Footer for the Site
|
*/
#footer {
  font-family: Open Sans;
  font-size: 10px;
  line-height: 0;
  margin-top: -5px;
  margin-bottom: -10px; }

/*
|--------------------------------------------------------------------------
| Navigation
|--------------------------------------------------------------------------
|
| The Navigation for the Site
|
*/
#navigation {
  margin-top: -15px;
  width: 100%;
  text-align: center; }
  #navigation .nav-item-group {
    padding: 0; }
  #navigation .nav-item {
    display: inline; }
    #navigation .nav-item:nth-child(n+2):before {
      content: "\00B7";
      font-size: 40px;
      line-height: 0;
      vertical-align: middle;
      margin-right: 5px; }

/*
|--------------------------------------------------------------------------
| Components
|--------------------------------------------------------------------------
|
| Components are custom-tailored CSS classes that are applied to various
| elements in order to achieve a specific functionality. This section
| will contain most of the functionality that the CSS provides.
|
*/
/*
|--------------------------------------------------------------------------
| Box
|--------------------------------------------------------------------------
|
| The Box Class.
|
*/
.box {
  display: inline-block;
  background-color: #FFF;
  box-shadow: 0px 4px 4px #B8B8B8;
  padding: 32px; }

/*
|--------------------------------------------------------------------------
| Categories
|--------------------------------------------------------------------------
|
| Category Wrappers, Components, and Teasers.
|
*/
.category.teaser a {
  position: relative;
  display: inline-block;
  height: 122px;
  width: 122px;
  margin: 10px 18px;
  background-position: 0 0; }
  .category.teaser a:hover {
    background-position: 0 -122px;
    color: #9cb212;
    text-decoration: underline; }
  .category.teaser a:active {
    background-position: 0 -244px; }
  .category.teaser a:link, .category.teaser a:visited, .category.teaser a:active {
    font-family: "Ubuntu";
    font-size: 14px;
    color: #000000;
    text-decoration: none; }
  .category.teaser a .category-name {
    position: absolute;
    text-align: center;
    width: 100%;
    bottom: -2px;
    text-shadow: 1px 1px 2px #999999; }

/*
|--------------------------------------------------------------------------
| Utilities
|--------------------------------------------------------------------------
|
| Utilities are simple modifiers that are generally intended to be used on
| any element. All Utilities are prefixed with '--' (Like a command-line
| argument). Most Utilties only add/modify a single attribute or two.
|
*/
/*
|--------------------------------------------------------------------------
| Alignment
|--------------------------------------------------------------------------
|
| For Text-Align and other Justifications.
|
*/
.--center {
  text-align: center; }

.--left {
  text-align: left; }

.--right {
  text-align: right; }

/*
|--------------------------------------------------------------------------
| Colors
|--------------------------------------------------------------------------
|
| For Color-Based Modifiers, both front and background.
|
*/
.--faded {
  color: #888; }

/*
|--------------------------------------------------------------------------
| Display
|--------------------------------------------------------------------------
|
| For Display and other Visual Attributes.
|
*/
.--block {
  display: block; }

.--inline-block {
  display: inline-block; }

.--inline {
  display: inline; }

.--flex {
  display: -ms-flexbox;
  display: flex; }

/*
|--------------------------------------------------------------------------
| Flex
|--------------------------------------------------------------------------
|
| For Flexbox Containers.
|
*/
.--space-between {
  -ms-flex-pack: justify;
  justify-content: space-between; }

.--align-top {
  -ms-flex-align: start;
  align-items: flex-start; }

/*
|--------------------------------------------------------------------------
| Lists
|--------------------------------------------------------------------------
|
| For Lists and List Items
|
*/
ol.--padding-half, ul.--padding-half {
  padding-left: 20px; }

ol.--list-style-none, ul.--list-style-none {
  list-style: none; }

/*
|--------------------------------------------------------------------------
| Miscellaneous
|--------------------------------------------------------------------------
|
| For Everything Else.
|
*/
.--no-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

/*
|--------------------------------------------------------------------------
| Sizing
|--------------------------------------------------------------------------
|
| For Width, Height, Marging and Padding.
|
*/
.--full-width {
  width: 100%; }

.--half-width {
  width: 50%; }

.--quarter-width {
  width: 25%; }

.--layout-fixed {
  table-layout: fixed; }

.--padded-horizontal {
  padding-left: 15px;
  padding-right: 15px; }

/*
|--------------------------------------------------------------------------
| Typography
|--------------------------------------------------------------------------
|
| For Text and Font-based Attributes.
|
*/
.--bold {
  font-weight: bold; }

.--thin {
  font-weight: thin; }

.--italic {
  font-style: italic; }

.--underlined {
  font-decoration: underline; }

.--without-decoration {
  font-decoration: none; }

.--large {
  font-size: 1.5em; }

.--small {
  font-size: 0.5em; }

/*# sourceMappingURL=app.css.map */
