/*
 * Input/Form stylesheet
 */

/*
 * Bootstrap Overrides
 */

.blr-form-control
{
	font-family: "Open Sans", sans-serif;
	border: 1px solid #cccccc;
	background: linear-gradient(#fafafa, #ffffff);
	color: #1a1a1a;
	border-radius: 0;
}

.blr-form-control:focus
{
	border-color: #6b00b2;
	outline: 0;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(189, 89, 255, .6);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(189, 89, 255, .6);
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(189, 89, 255, .6);
}

/* These need to be done individually for some reason. */
.blr-form-control::-webkit-input-placeholder
{
	font-family: "PT Sans", sans-serif;
}

/* Firefox 18- */
.blr-form-control:-moz-placeholder
{
	font-family: "PT Sans", sans-serif;
}

/* Firefox 19+ */
.blr-form-control::-moz-placeholder
{
	font-family: "PT Sans", sans-serif;
}

.blr-form-control:-ms-input-placeholder
{
	font-family: "PT Sans", sans-serif;
}

.blr-btn
{
	font-family: "Ubuntu", sans-serif;
	color: #f2f2f2 !important;
	border-radius: 0;
	padding: 10px 20px;
	border: 0;
}

/*
 * Standard element overrides.
 */

button,
textarea,
select,
.selectContainer,
.selectContainer select
{
	font-family: "Open Sans", sans-serif;
	border: 1px solid #cccccc;
	background: linear-gradient(#fafafa, #ffffff);
	color: #1a1a1a;
}

textarea
{
	resize: vertical;
}

label
{
	font-family: "PT Sans", sans-serif;
	font-size: 1em;
	font-weight: normal;
}

button,
.fileContainer,
a.button
{
	font-family: "Ubuntu", sans-serif;
	font-weight: bold;
	font-size: 11px;
	color: #f2f2f2;
	padding: 5px 14px;
	background: linear-gradient(#bd59ff, #6b00b2) #6b00b2;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .333);
	cursor: pointer;
}

button,
a.button
{
	border: 0;
}

button:active,
a.button:active
{
	background: linear-gradient(#480077, #6a00b0);
}

a.button:hover
{
	text-decoration: none;
}

input[type="checkbox"]
{
	width: 12px;
	height: 12px;
	padding: 0;
	opacity: 0;
	cursor: pointer;
	/*
	 * Places the real checkbox next to the custom one.
	 * TODO: Fake the checkbox with a span.
	 * Breaks with responsive design.
	 margin-left: 72px;
	 */
}

input[type="checkbox"] + label
{
	display: inline-block;
	padding-top: 0 !important;
	background: transparent url('/img/checkbox.png') 0 0 no-repeat;
	/* TODO: Line height ought to be 14*1.618px but I can't figure out how to move the image down. */
	line-height: 12px;
	cursor: pointer;
	height: 12px;
}

input[type="checkbox"]:checked + label
{
	background-position: 0 -12px;
}

input[type="password"]
{
	font-size: 1.2em;
	font-weight: bold;
	letter-spacing: 0.05em;
}

/*
 * Custom Styles
 */

.blr-fieldset legend
{
	font-family: "Ubuntu", sans-serif;
	font-weight: bold;
	font-size: 26px;
	line-height: 19px;
	color: #6b00b2;
	margin-bottom: 0;
	margin-left: -1px;
	text-align: left;
	/* HR element must be used for duo-tone border. */
	border-bottom: 0;
}

.control-label-blr
{
	font-family: "PT Sans", sans-serif;
}

.btn-blr-default
{
	color: #f2f2f2;
	background-color: #6b00b2;
	box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .333);
	-moz-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .333);
	-webkit-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .333);
}

.btn-blr-default:hover,
.btn-blr-default:focus,
.btn-blr-default.focus
{
	color: #f2f2f2;
	background: linear-gradient(#bd59ff, #6b00b2) #6b00b2;
	box-shadow: 0 3px 5px 0 rgba(0, 0, 0, .333);
	-moz-box-shadow: 0 3px 5px 0 rgba(0, 0, 0, .333);
	-webkit-box-shadow: 0 3px 5px 0 rgba(0, 0, 0, .333);
	/* Bootstrap override */
	border: 0 !important;
	outline: 0 !important;
}

.btn-blr-default:active:focus,
.btn-blr-default:active.focus,
.btn-blr-default.active:focus,
.btn-blr-default.active.focus
{
	color: #f2f2f2;
	background: linear-gradient(#480077, #6a00b0);
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .333);
	-moz-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .333);
	-webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .333);
}

.btn-blr-close
{
	font-weight: bold;
	color: #6b00b2;
	text-transform: uppercase;
	text-decoration: none;
	background: none transparent;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
}

.btn-blr-close:hover,
.btn-blr-close:focus,
.btn-blr-close.focus
{
	color: #e2b5ff !important;
	/* Bootstrap override */
	border: 0 !important;
	outline: 0 !important;
}

.btn-blr-close:active:focus,
.btn-blr-close:active.focus,
.btn-blr-close.active:focus,
.btn-blr-close.active.focus
{
	background: none transparent;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
}

.selectContainer
{
	overflow: hidden;
}

.selectContainer select
{
	width: 97%;
	border: 0;
	background: transparent;
	padding: 1px;
	-webkit-appearance: none;
	-moz-appearance: none;
	background: url('/img/dropdown_arrow.png') no-repeat right;
}

.fileContainer
{
	overflow: hidden;
	text-align: center;
}

.fileContainer:active
{
	background: linear-gradient(#480077, #6a00b0);
}

.fileContainer [type="file"]
{
	opacity: 0;
	border: 0;
	position: absolute;
	left: -5000px;
	top: -5000px;
}
