#root
{
	width: 100%;
	text-align: center;
}

#main
{
	width: 1000px;
}

#categories a
{
	position: relative;
	display: inline-block;
	height: 122px;
	width: 122px;
	margin: 10px 18px;
	background-position: 0 0;
}

#categories a:hover
{
	background-position: 0 -122px;
}

#categories a:active
{
	background-position: 0 -244px;
}

#categories a div
{
	position: absolute;
	text-align: center;
	width: 100%;
	bottom: -2px;
	text-shadow: 1px 1px 2px #999999;
}

#categories a:link,
#categories a:visited,
#categories a:active
{
	font-family: "Ubuntu", sans-serif;
	font-size: 1em;
	color: #000000;
	text-decoration: none;
}

#categories a:hover
{
	color: #9cb212;
	text-decoration: underline;
}

.category
{
	display: inline-block;
}
