#login-box
{
	width: 34em;
	box-shadow: 0 3px 6px 2px rgba(0, 0, 0, .333);
	-moz-box-shadow: 0 3px 6px 2px rgba(0, 0, 0, .333);
	-webkit-box-shadow: 0 3px 6px 2px rgba(0, 0, 0, .333);
}

.login-spacer
{
	margin-top: 1em;
}

.login-spacer-neg
{
	margin-bottom: -1em;
}
