.title
{
	font-family: "Ubuntu", sans-serif;
	font-weight: bold;
	font-size: 26px;
	color: #6b00b2;
	margin-left: -2px;
}

.title2
{
	font-family: "Ubuntu", sans-serif;
	font-weight: bold;
	font-size: 14px;
	color: #6b00b2;
	margin-left: -2px;
}

.over
{
	margin-left: -32px;
	margin-right: -32px;
}

hr
{
	border-top: 1px solid #d9d9d9;
	border-bottom: 1px solid #f2f2f2;
	border-left-style: none;
	height: 0;
	background: #d9d9d9;
	margin-top: 16px;
	margin-bottom: 16px;
}
