
a:link, a:visited, a:active
{
	font-family: "Open Sans";
	font-size: 10pt;
	color: #000000;
	text-decoration: none;
}

a:hover
{
	color: #9CB212;
	text-decoration: underline;
}

.noselect {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

body
{
	background-color: #F0F0F0;
}

input
{
	background: -webkit-linear-gradient(#FAFAFA, #FFFFFF); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#FAFAFA, #FFFFFF); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#FAFAFA, #FFFFFF); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#FAFAFA, #FFFFFF); /* Standard syntax */
}

input[type="checkbox"]
{
	width: 12px;
	height: 12px;
	margin: 0;
	padding: 0;
	opacity: 0;
	cursor: pointer;
}

input[type="checkbox"] + label
{
	display: inline-block;
	margin-left: -16px;
	padding-left: 16px;
	background-image: url('/img/checkbox.png');
	background-repeat: no-repeat;
	background-position: 0 0;
	line-height: 12px;
	cursor: pointer;
}

input[type="checkbox"]:checked + label
{
	background-position: 0px -12px;
}

hr
{
	border-top: 1px solid #d9d9d9;
	border-bottom: 1px solid #f2f2f2;
	border-left-style: none;
	height: 0px;
	background: #ff0000;
	margin-top: 10px;
	margin-bottom: 16px;
}

#login
{
	background-color: #FFFFFF;
	width: 325px;
	height: 198px;
	box-shadow: 0px 24px 64px 4px #808080;
	padding: 32px;
}

.flowcontrol
{
	overflow: visible;
	height: 32px;
}

.title
{
	font-family: "Ubuntu";
	font-weight: bold;
	font-size: 18pt;
	color: #6B00B2;
}

.username
{
	font-family: "PT Sans";
	font-size: 12pt;
	margin-bottom: 14px;
}

.username input
{
	font-family: "Open Sans";
	font-size: 12pt;
	width: 235px;
	height: 20px;
	padding-left: 6px;
	float: right;
	border: 1px solid #CCCCCC;
}

.password
{
	font-family: "PT Sans";
	font-size: 12pt;
	margin-bottom: 26px;
}

.password input
{
	font-family: "Open Sans";
	font-weight: bold;
	font-size: 12pt;
	width: 235px;
	height: 20px;
	padding-left: 6px;
	float: right;
	border: 1px solid #CCCCCC;
}

.forgot
{
	text-transform: uppercase;
	margin-bottom: 11px;
	float: left;
}

.register
{
	text-transform: uppercase;
	float: left;
}

.remember
{
	font-family: "PT Sans";
	font-size: 10pt;
	float: right;
	margin-bottom: 11px;
}

.close
{
	float: left;
	padding-left: 66px;
	line-height: 29px;
}

.close a
{
	font-family: "PT Sans";
	font-weight: bold;
	font-size: 11pt;
	color: #6B00B2;
	text-transform: uppercase;
	text-decoration: none;
}

.close a:active
{
	text-decoration: none;
	color: #6B00B2;
	background: -webkit-linear-gradient(#25003d, #6b00b2);
	background: -o-linear-gradient(#25003d, #6b00b2);
	background: -moz-linear-gradient(#25003d, #6b00b2);
	background: linear-gradient(#25003d, #6b00b2);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.login
{
	float: right;
	overflow: visible;
}

.login input
{
	font-family: "Ubuntu";
	font-weight: bold;
	font-size: 11pt;
	color: #FFFFFF;
	width: 76px;
	height: 29px;
	border: 0;
	background-color: #6B00B2;
	background: -webkit-linear-gradient(#8933c1, #6b00b2); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#8933c1, #6b00b2); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#8933c1, #6b00b2); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#8933c1, #6b00b2); /* Standard syntax */
	-webkit-box-shadow: 0px 2px 4px 0px #a8a8a8;
	-moz-box-shadow: 0px 2px 4px 0px #a8a8a8;
	box-shadow: 0px 2px 4px 0px #a8a8a8;
	cursor: pointer;
}

.login input:active
{
	background-color: #6B00B2;
	background: -webkit-linear-gradient(#480077, #6a00b0); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#480077, #6a00b0); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#480077, #6a00b0); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#480077, #6a00b0); /* Standard syntax */
	-webkit-box-shadow: 0px 2px 4px 0px #a8a8a8;
	-moz-box-shadow: 0px 2px 4px 0px #a8a8a8;
	box-shadow: 0px 2px 4px 0px #a8a8a8;
}

