.subtitle
{
	font-family: "PT Sans", sans-serif;
	font-weight: bold;
}

.summary
{
	font-family: "PT Sans", sans-serif;
	font-style: italic;
}

.filesize
{
	font-family: "Ubuntu", sans-serif;
	font-size: 0.9em;
}

.inforow
{
	font-family: "Ubuntu", sans-serif;
	text-align: center;
	margin: 0;
}

.infobox
{
	margin-top: 0.5em;
}

.info-key
{
	font-size: 0.9em;
}

.info-value
{
	font-weight: bold;
	font-size: 1.1em;
}

.description
{
	font-family: "Open Sans", sans-serif;
	text-align: justify;
}

.footnote
{
	font-family: "Open Sans", sans-serif;
	font-style: italic;
	font-size: 0.9em;
}
