/* Main theme color. */
$blr-col-primary-dark: #480077;
$blr-col-primary: #6b00b2;
$blr-col-primary-middle: #bd59ff;
$blr-col-primary-light: #e2b5ff;

$blr-col-primary-middle-rgba-glow: rgba(189, 89, 255, .6);

/* Secondary theme color. */
$blr-col-complementary-dark: #5b690b;
$blr-col-complementary: #9cb212;
$blr-col-complementary-light: #efff8e;

/* Supplementary color. */
$blr-col-tertiary-dark: #b27812;
$blr-col-tertiary: #ffac19;

/* Various uses. */
$blr-col-utility-red-dark: #771b00;
$blr-col-utility-red: #b22800;
$blr-col-utility-red-middle: #f0280b;

$blr-col-utility-green-dark: #3e7700;
$blr-col-utility-green: #5cb200;
$blr-col-utility-green-middle: #64e10a;

/* Text. */
$blr-col-utility-black: #1a1a1a;

/* Generic backgrounds. */
$blr-col-bg-gray-dark: #666666;
$blr-col-bg-gray: #cccccc;
$blr-col-bg-offwhite: #f0f0f0;
$blr-col-bg-gray-light: #f5f5f5;
$white: #ffffff;

/* Other commonly used colors. */
$rgba-shadow: rgba(0, 0, 0, .333);
