/* Padding used in containers, like all pages and popups. */
$container-padding: $font-size-32px;
$container-padding-half: $font-size-16px;

$standard-margin: $font-size-14px;
$standard-margin-half: $standard-margin / 2.0;
$bootstrap-row-margin: -15px;

// 16 * 2.5625 = 41px
$default-button-height: 2.5625em;

// 16 * 2.75 = 66px = 2 rows of text
$height-text-rows-2: 2.75em;

// 16 * 4.125 = 66px = 3 rows of text
$height-text-rows-3: 4.125em;
