#navigation
{
	font-family: $blr-font-family-text;
	font-size: $font-size-14px;
	width: 100%;

	ul
	{
		margin-bottom: 0;
	}

	.nav-item-group
	{
		padding: 0;
	}

	.nav-item
	{
		display: inline;

		&:nth-child(n+2):before
		{
			// Add BLACK SMALL SQUARE + NBSP to second element and beyond.
			content: "\25AA\00A0";
			line-height: 0;
		}
	}

	a,
	a:link,
	a:visited,
	a:active
	{
		font-size: 1em; /* 14 * 1.0 = 14px*/
	}
}
